{% extends 'carorbike/base.html' %}

{% block title%}Bike and Car Prediction AI app MENU{% endblock %}

{% block content %}
<div>
    <h4 class="mt-4 mb-5 border-bottom">Bike and Car Prediction APP</h4>
    <p>Select file and click the Predict button.</p>
    <form action="{% url 'carorbike:predict' %}" method="POST" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <div class="custom-file">
            {{ form.image }}
            <label class="custom-file-label" for="customFile">
                Select the file you wanna pred.
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Predict</button>
    </form>
</div>
{% endblock %}